
.sidebarUser {
  display: flex;
  flex-direction: row;
  gap: 10px;
  
}

.sidebar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 20%;
  
}

.user {
  
  
  gap: 10px;
  align-items: center;
  width: 80%;
}