
.sidebarUser {
  display: flex;
  flex-direction: row;
  
}

.sidebar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 20%;
  overflow: auto;
  height: 100vh;
  
  
}

.user {
  
  
  gap: 10px;
  align-items: center;
  width: 80%;

}



@media screen and (max-width: 768px) {
  .sidebarUser {
    background-color: rgb(247 247 247);
  }

  .sidebar {
    display: none;
  }

  
}