.select {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}


.filtercardanimation {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 250px;
  
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  position: relative;
  bottom: 810px;
  right: 170px;
  animation: slidein 1s ease-in-out;

  
}

.cancelicon {
  display: flex;
  justify-content: flex-end;
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.usernameinput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;


  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  outline: oldlace;
}

.filterbutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #39CDCC;
  outline: oldlace;
  padding: 10px;
  color: #fff;
}

.resetbutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  color: #545F7D;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  outline: oldlace;
}

.resetfiltercontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
gap: 20px;
  border-radius: 5px;
  background-color: #fff;
 
}
.filterbutton:hover {
  background-color: #fff;
  color: #39CDCC;
  border: 1px solid #39CDCC;
}

.resetbutton:hover {
  background-color: #39CDCC;
  color: #fff;
  border: 1px solid #39CDCC;
}