.headercontainer {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.dropdown {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.searchinput {
  width: 200px;
  height: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 0.8rem;
  color: #424242;
  outline: none;
  margin-bottom: 10px;
  border-right: none;
}

.searchicon {
  width: 30px;
  height: 32px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 16px;
  color: #424242;
  outline: none;
  background-color: #39CDCC;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  font-size: 0.6rem;
  display: inline-flex;
  position: relative;
  left: -3px;
  bottom: -2px;
  justify-content: center;
  align-items: center;
}

.belliconcontainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin-left: 33%;
}
.img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #39CDCC;
  border-radius: 50%;
  display: inline-block;
  
}
.name {
  font-size: 0.8rem;
  font-weight: 600;
  color: #545F7D;
  cursor: pointer;
}
.docslink {
  text-decoration: none;
  color: #545F7D;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .searchinput {
    width: 100px;
    border-right: 1px solid #e0e0e0;
  }
.searchcontainer {
  display: flex;
  flex-direction: row;
}

.searchicon {
  bottom: 0;
  height: 30px;
}
  .headercontainer {
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
  }

  .smallLogo {
    width: 15px;

  }

  .bigLogo {
    
    width: 80px;

  }

  .belliconcontainer {
    margin-left: 0;
  }
}