.container {
  display: flex;
  
}

.pablo {
  width: 50%;
}

.welcome {
  width: 50%;
}

@media (max-width:768px) {
  .container {
    flex-direction: column;
  }
  .pablo {
    width: 100%;
  }
  
  .welcome {
    width: 100%;
  }
  
  
}