.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #fff;
  width: 100%;
}

.bodycontainer {
  background-color: #fff;
  margin-right: 20px;
    margin-left: 20px;
    border-bottom: 1px solid #e0e0e0;
}


.excerptcontainer{

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 23%;
  height: 20%;
  margin-bottom: 20px;
  color: #213F7D;
  font-size: 0.8rem;
  gap: 10px;
  flex-wrap: wrap;

  
}

/* .container *:nth-child(3) {
  width: 27%;
} */

.name {
  text-transform: uppercase;
}

.value {
  font-size: 1rem;
  font-weight: 600;
}

.information {
  padding: 20px;
  color: #545F7D;
  padding-left: 60px;
  font-size: 1rem;
    font-weight: 600;

}