.container {
  display: flex;
  flex-direction: row;
  
  background: #f3f3f3;
}


.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.sidebar {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  gap: 10px;
  align-items: center;
  width: 20%;
  margin-bottom: 300px;
  background-color: #fff;
}

.body {
  width: 80%;
  margin-left: 30px;
  margin-right: 30px;
}

.detailshead {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
  gap: 20px;
  border-bottom: 1px solid #e0e0e0;
  background-color: #fff;
  margin-top: 10px;
  flex-wrap: wrap;
  padding-bottom: 5px;
}

/* .detailshead *:last-child {
  width: 100%;
} */

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #e9effb;
  display: flex;
  justify-content: center;
  align-items: center;

}

.avatarname {
  font-size: 1.2rem;
  font-weight: 600;
  color:#545F7D;
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-right: 1px solid #e0e0e0;
  padding-right: 20px;
  height: 70px;
}

.tier {
  padding-right: 20px;
  border-right: 1px solid #e0e0e0;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#545F7D;
  flex-direction: column;

}
.bvn {
  font-size: small;
}

.namebvncontainer{
  display: flex;
    flex-direction: column;
    justify-content: center;
}

.balance {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color:#545F7D;
}
.accountsmall {
  color:#545F7D;
  font-size: 0.8rem;
}

.dlink {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;

}

.dlink *:first-child {
  color: #39CDCC;
  font-size: 0.8rem;
  font-weight: 600;
}

.detailslink {
  display: flex;
  color: #213F7D;
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: 600;
  width: 24%;



}

.detailslink:hover {
  color: #39CDCC;
  text-decoration: underline;
}

.link {
  text-decoration: none;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin-left: 20px;
}

.userptext {
  font-size: 1rem;
  color: #545F7D;
  padding-left: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  
}

.infocontainer{
  background-color: #fff;
}

@media screen and (max-width: 768px) {
.body {
    width: 100%;
  }
  .detailshead {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    gap: 20px;
    border-bottom: 1px solid #e0e0e0;
    background-color: #fff;
    margin-top: 10px;
    flex-wrap: wrap;
    padding-bottom: 5px;
  }
  .avatarname{
    border-right: none;
    padding-right: 0px;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .img {
    width:70px;
    object-fit: none;
    height: auto;
  }
  .detailshead {
    align-items: center;
  }
  .tier {
    border-right: none;
    padding-right: 0px;
    height: auto;
  }

  .dlink {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px
  }
  .detailslink {
    width: 100%;
  }
  .img {
    width: 100%;
  }
  .sidebar {
    display: none;
  }
}
  
