.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 0 10px;
  font-size: 16px;
  color: #424242;
  outline: none;
  margin-bottom: 10px;
  background-color: #fff;
}