.container {

  background-color: rgb(247 247 247);
  height: 100%;

  
}

.dashpage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.usertext{
  color: #213F7D;
  color: #213F7D;
  padding-left: 200px;
  padding-top: 50px;
  font-size: 1.5rem;
  font-weight: 600;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

@media (max-width:768px) {
  .usertext {
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 0;
    
  }

  .container {
    background-color: rgb(247 247 247);
    height: 100%;
    width: 100%;
  }
}
  