.container {
  display: flex;
  justify-content: center;
  margin-top: 140px;
  flex-direction: column;
  width: 60%;
  margin-left: auto;
  margin-right: auto;

}

.weltext {
  
  font-size: 2.5rem;
  font-weight: 600;
}

.welcontainer {
  color: #213F7D;
  margin-bottom: 30px;
}

@media (max-width:768px) {
  .container {
    width: 80%;
    margin-top: 20px;
    align-items: center;
    height: 50vh;
  }
  
}